@import "../../variables.scss";

$poster-width: 600px;

.custom_poster {
  width: $poster-width;
  max-width: 100%;
  aspect-ratio: 2/3;
}

.skeleton_poster {
  width: $poster-width;
  max-width: 100%;
  aspect-ratio: 2/3;
  background-color: $gray-500;
  animation: skeleton-blink-poster 3s infinite;

  background-size: 200% 100%;
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

@keyframes skeleton-blink-poster {
  0% {
    opacity: 1;
    background-color: $gray-400;
  }
  50% {
    opacity: 0.6;
    background-color: $black-500;
  }
  100% {
    opacity: 1;
    background-color: $gray-400;
  }
}
