@import "../../variables.scss";

.search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 10px;
  gap: 10px;
  row-gap: 30px;
  @media screen and (max-width: $medium) {
    flex-direction: column;
    align-items: stretch;
  }
  .search-field-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: $medium) {
    }
  }
  .search-field-button {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: row;
    height: 40px;
    background-color: $button-color;
    color: $white-100;
    border: none;
    border-radius: $border-radius;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    &:focus {
      outline: none;
      border-color: $button-color;
    }
    @media screen and (max-width: $medium) {
      display: none;
    }
  }
}
